# Server
PORT=<VALUE>
NODE_ENV=<VALUE>
CORS_ORIGINS=<VALUES>

# JWT
JWT_SECRET=<VALUE>
JWT_EXPIRE_TIME=<VALUE>
JWT_REFRESH_SECRET=<VALUE>
JWT_REFRESH_EXPIRE_TIME=<VALUE>

# Database
DATABASE_URL=<VALUE>
